.blog-news-article{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: calc(33.33% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.imageUrl{
    width: 20vw;
    height: 30vw;

}
.blog-news-list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}