.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.header-left {
    display: flex;
    align-items: center;
}
.headers{
    border-bottom: 1px solid #ccc;
}
